/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* 1. Force the html, body and react mount points (#root) to fill up the screen */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent the appearance of double scroll bars */
}

/* 2. Fix the height issue of the Leaflet map container */
.leaflet-container {
  width: 100%;
  height: 100%;
}