/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* 1. 强制让 html, body 和 react的挂载点(#root) 撑满屏幕 */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 防止出现双滚动条 */
}

/* 2. 修复 Leaflet 地图容器的高度问题 */
.leaflet-container {
  width: 100%;
  height: 100%;
}